@import '@fontsource/space-grotesk/300.css';
@import '@fontsource/space-grotesk/400.css';
@import '@fontsource/space-grotesk/500.css';
@import '@fontsource/space-grotesk/700.css';



@media screen and (min-width: 600px) {
    .displayBox:hover .viewLink {
        opacity: 1;
    }
    .breakChange {
        display: none;
    }
      
}
@media screen and (min-width: 920px) {
    .displayBox:hover .viewLink {
        opacity: 1;
    }
    .breakChange {
        display: block;
    }
      
}