@import '@fontsource/space-grotesk/300.css';
@import '@fontsource/space-grotesk/400.css';
@import '@fontsource/space-grotesk/500.css';
@import '@fontsource/space-grotesk/700.css';


.breakChange {
    display: block;
}

.breakChangesm {
    display: none;
}

.breakChangelg {
    display: block;
}

@media screen and (min-width: 768px) {
    .displayBox:hover .viewLink {
        opacity: 1;
    }
    .breakChange {
        display: none;
    }

    .breakChangesm {
        display: block;
    }
    .breakChangelg {
        display: none;
    }
      
}
@media screen and (min-width: 920px) {
    .displayBox:hover .viewLink {
        opacity: 1;
    }
    .breakChange {
        display: block;
    }
    .breakChangesm {
        display: none;
    }
    .breakChangelg{
        display: block;
    }
      
}